<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Приложение Django {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
        <nav>
            <a href="/">Главная страница</a>
            <a href="/about">Обо мне</a>
            <a href="{% url 'posts:list' %}"> Посты </a>
            <a href="{% url 'communities:list' %}">Группы</a>
            {% if user.is_authenticated %}
            <a href="{% url 'posts:new-post' %}">Новый пост</a>
            <a href="{% url 'communities:new-communitie' %}">новая группа</a>
        <form class="logout" action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button title="User Logout">Выйти</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">
        Зарегистрироваться
        </a>
        <a href="{% url 'users:login' %}">
        Войти
        </a>
    {% endif %}
        </nav>

    <main>{% block content %} 
        {% endblock %}</main>
</body>
</html>
